@import url("https://v1.fontapi.ir/css/Estedad:200;300;500;700");
@font-face {
  font-family: "Yekan";
  src: url(./assets/YEKAN\ PLUS.TTF) format("truetype");
}

:root {
  --bgColor: #ffffff;
  --grey: #717171;
  --lightGrey: #adadad;
  --darkGrey: #353535;
  --primary: #417f56;
  --greenTint: #e5f2e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1160px;
  min-height: 2123;
  direction: rtl;
  display: flex;
  flex-direction: column;
  font-family: "Estedad";
  font-weight: 300;
  overflow-x: hidden;
}

nav {
  /* position: fixed; */
  width: 100%;
  height: 115px;
  background-color: var(--bgColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-sections {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

li {
  margin-left: 1rem;
  list-style: none;
  color: var(--grey);
  font-size: 20px;
}
li a {
  display: flex;
  align-items: center;
}
a {
  color: var(--grey);
  text-decoration: none;
  position: relative;
}
.branch-items {
  display: none !important;
  width: 132px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 53%;
  top: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.branch-items a {
  border-bottom: 1px solid var(--lightGrey);
  padding: 8px;
  text-align: right;
  cursor: pointer;
}

.menu-items {
  display: none !important;
  width: 132px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  top: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-items a {
  border-bottom: 1px solid var(--lightGrey);
  padding: 8px;
  text-align: right;
  cursor: pointer;
}

.menu:hover .menu-items {
  display: block !important;
}

.branch:hover .branch-items {
  display: block !important;
}
.fas {
  font-size: 10px;
  margin-right: 5px;
}
.icons {
  display: flex;
  flex-direction: row;
}
.icons img {
  background-color: var(--greenTint);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.4rem;
}
.user-icon-container {
  position: relative;
}
.user-icon {
  background-color: var(--greenTint);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.user-icon-container:hover .user-items {
  display: block !important;
  transition: all 0.5s ease-in-out;
}
.user-icon i {
  color: var(--primary);
  position: relative;
  left: 10px;
  top: 12px;
  display: none;
}

.user-icon:hover i {
  display: block;
}

.user-items {
  display: none !important;
  width: 144px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 120%;
  left: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.user-items a {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid var(--lightGrey);
  text-align: right;
  cursor: pointer;
}
.user-items img {
  background-color: var(--bgColor);
  margin-left: 0;
  padding: 0 0.2rem;
  position: relative;
}

/************************* Slide bar */

.slider {
  width: 100%;
  height: 336px;
  background-image: url(./assets/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  position: relative;
  top: calc(336px - 73%);
}

.top-sec i {
  color: var(--bgColor);
}

.slidebar-text {
  color: var(--greenTint);
  font-weight: 700;
  font-size: 40px;
}

.order {
  color: var(--bgColor);
  background-color: var(--primary);
  font-family: "Estedad";
  border: none;
  border-radius: 10px;
  padding: 8px 34px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 6.8rem;
}

.bullets {
  position: relative;
  top: 80px;
  right: 43.5%;
  background-color: var(--bgColor);
  width: 155px;
  height: 35px;
  border-radius: 7rem 7rem 0 0;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--lightGrey);
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 17%;
  top: 10%;
}
.selected {
  background-color: var(--primary);
  width: 15px;
  height: 15px;
  top: 5px;
}

/************* Special and Fav and Foreign box */

h1 {
  margin-right: 4rem;
}

.special-box,
.foreign-box,
.customer-preview {
  width: 100vw;
  height: 433px;
  margin: 0 4rem 2rem 0;
  /* overflow-x: auto; */
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.fav-box {
  background-color: var(--primary);
  display: flex;
  padding: 4rem 4rem 2rem 0;
  margin-bottom: 2rem;
}
.fav-box .box-container {
  background-color: var(--bgColor);
}
.fav-title {
  color: var(--bgColor);
  position: relative;
  top: 3.4rem;
  right: 4rem;
}
.box-container {
  border: 1px solid var(--grey);
  border-radius: 8px;
  width: 290px;
  margin-left: 1rem;
}

.food-title {
  color: var(--darkGrey);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.top-sec {
  margin-bottom: 1.5rem;
}
.top-sec .add-to-fav {
  display: flex;
  align-items: center;
  margin-right: -1rem;
}
.add-to-fav p {
  font-size: 10px;
  font-weight: 400;
  color: var(--lightGrey);
  margin-right: 0.3rem;
}
.add-to-fav img {
  cursor: pointer;
}

.top-sec .price-box {
  display: flex;
}
.price-box .offprice {
  font-size: 10px;
  font-weight: 400;
  color: var(--lightGrey);
  text-decoration: line-through;
}
.discount {
  font-size: 10px;
  font-weight: 400;
  color: #c30000;
  background-color: #f9efef;
  margin-right: 0.5rem;
}
.discount span {
  font-size: 8px;
  font-family: "Estedad";
}
.price-box,
.last-price,
.star-box {
  font-family: "yekan";
}
.bottom-sec {
  display: flex;
}
.star-box {
  display: flex;
  margin-right: 0.8rem;
  align-items: center;
}
.star-box img {
  width: 1.3rem;
  height: 1.2rem;
}
.star-point {
  font-size: 10px;
  color: var(--lightGrey);
  margin: 0 0.3rem 0 6rem;
}
.star-box p {
  text-align: center;
}
.bottom-sec .last-price {
  display: flex;
}
.bottom-sec {
  margin-bottom: 1rem;
}
.add-to-cart {
  background-color: var(--primary);
  font-family: "Estedad";
  border: none;
  border-radius: 5px;
  color: var(--bgColor);
  width: 90%;
  padding: 3px;
  margin: 0 0.8rem 0.8rem 0;
  cursor: pointer;
}

/*************** Go to menu button */
.go-to-menu {
  background-color: var(--bgColor);
  border: 2px solid var(--primary);
  border-radius: 5px;
  width: 11rem;
  display: flex;
  position: relative;
  right: 42%;
  padding: 0.3rem 0.5rem;
  margin-bottom: 3rem;
}
.go-to-menu a{
  display: flex;
}
.go-to-menu button {
  border: none;
  background-color: var(--bgColor);
  color: var(--primary);
  font-family: "Estedad";
  padding-right: 0.4rem;
  cursor: pointer;
}

h2 {
  color: var(--darkGrey);
  text-align: center;
  margin-bottom: 1rem;
}

/*************** branch info */

.branch-info {
  width: 780px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 4px solid var(--primary);
  border-radius: 8px;
  background-color: var(--bgColor);
  position: relative;
  right: 16%;
  top: -2rem;
  margin-bottom: 1rem;
}

.branch-info div {
  width: 200px;
  text-align: center;
}

/*********************** Customer preview */
.customer-preview{
  margin-bottom: -9rem;
}
.customer {
  margin-left: 2rem;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  width: 600px;
  height: 200px;
  padding: 1rem;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile img {
  width: 90px;
}

.pic-name {
  margin-top: 0.5rem;
}
.opinion {
  width: 410px;
  position: relative;
  right: 25%;
  top: -50%;
  font-size: 16px;
  font-weight: 400;
  color: var(--darkGrey);
}

.date-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -45%;
}
.date {
  margin-top: -0.6rem;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
}

.star-rate {
  font-family: "Yekan";
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.star-rate img {
  width: 1rem;
  margin-left: 0.2rem;
}

/*************** Footer */

footer {
  width: 100vw;
  height: 319px;
  background-image: url(./assets/Footer.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: end;
}

footer .title {
  color: var(--bgColor);
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin: 2rem 0 1.2rem 0;
}

footer a {
  color: var(--lightGrey);
  font-size: 14px;
  font-weight: 500;
  margin: 0 1rem 1rem 0;
}

.contact,
.footer-branch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .contact {
  margin-top: -2.3rem;
}
