@import url("https://v1.fontapi.ir/css/Estedad:200;300;500;700");
@font-face {
  font-family: "Yekan";
  src: url(./assets/YEKAN\ PLUS.TTF) format("truetype");
}

:root {
  --bgColor: #ffffff;
  --grey: #717171;
  --lightGrey: #adadad;
  --darkGrey: #353535;
  --primary: #417f56;
  --greenTint: #e5f2e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1160px;
  min-height: 2123;
  direction: rtl;
  display: flex;
  flex-direction: column;
  font-family: "Estedad";
  font-weight: 300;
  overflow-x: hidden;
}

nav {
  width: 100%;
  height: 115px;
  background-color: var(--bgColor);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-sections {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

li {
  margin-left: 1rem;
  list-style: none;
  color: var(--grey);
  font-size: 20px;
  padding: 2rem 0;
}
li a {
  display: flex;
  align-items: center;
}

.branch-items a:hover,
.menu-items a:hover,
.user-items a:hover {
  color: #417f56;
  font-weight: bold;
}
a {
  color: var(--grey);
  text-decoration: none;
  position: relative;
}
.branch-items {
  display: none !important;
  width: 132px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 53%;
  top: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.branch-items a {
  border-bottom: 1px solid var(--lightGrey);
  padding: 8px;
  text-align: right;
  cursor: pointer;
}

.menu-items {
  display: none !important;
  width: 132px;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 40%;
  top: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-items a {
  border-bottom: 1px solid var(--lightGrey);
  padding: 8px;
  text-align: right;
  cursor: pointer;
}

.menu:hover .menu-items {
  display: block !important;
}

.branch:hover .branch-items {
  display: block !important;
}

.about-us {
  cursor: pointer;
}
.fas {
  font-size: 10px;
  margin-right: 5px;
}
.icons {
  display: flex;
  flex-direction: row;
}
.icons img {
  background-color: var(--greenTint);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.4rem;
  cursor: pointer;
}
.user-icon-container {
  position: relative;
}
.user-icon {
  background-color: var(--greenTint);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.user-icon-container:hover .user-items {
  display: block !important;
  transition: all 0.5s ease-in-out;
}
.user-icon i {
  color: var(--primary);
  position: relative;
  left: 10px;
  top: 12px;
  display: none;
}

.user-icon:hover i {
  display: block;
}

.user-items {
  display: none !important;
  width: 144px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 120%;
  left: 15%;
  color: var(--darkGrey);
  background-color: var(--bgColor);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.user-items a {
  display: flex;
  padding: 4px;
  border-bottom: 1px solid var(--lightGrey);
  text-align: right;
  cursor: pointer;
}
.user-items img {
  background-color: var(--bgColor);
  margin-left: 0;
  padding: 0 0.2rem;
  position: relative;
}

/************************** Modal */
.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.modal {
  position: fixed;
  width: 390px;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bgColor);
  border-radius: 8px;
  padding: 1rem;
  z-index: 10;
}
.modal .logo {
  display: flex;
  justify-content: center;
}
.modal .logo span {
  font-size: 2rem;
  position: relative;
  top: -1rem;
  right: 10rem;
  color: var(--grey);
  cursor: pointer;
}

.modal .logo img {
  width: 100px;
  position: absolute;
}

.login-title {
  text-align: center;
  font-weight: 400;
}
.login-title p:first-child {
  color: var(--darkGrey);
}
.login-title p:last-child {
  color: var(--grey);
  font-size: 12px;
}
.modal fieldset {
  width: 340px;
  margin-right: 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--darkGrey);
}
.modal legend {
  margin-right: 1rem;
  font-family: "Estedad";
  color: var(--darkGrey);
  font-size: 12px;
  padding: 0 2px;
}
.modal input {
  width: 100%;
  border: none;
  direction: ltr;
  font-family: "yekan";
  font-size: 18px;
  color: var(--grey);
  padding-left: 1rem;
}

.modal input:focus {
  outline: none;
  padding-left: 1rem;
}
.modal button {
  background-color: #ededed;
  color: var(--lightGrey);

  border: none;
  border-radius: 3px;
  font-family: "Estedad";
  width: 340px;
  height: 40px;
  text-align: center;
  margin: 0.7rem 0.5rem 0.6rem 0;
  cursor: pointer;
}
.enable-btn {
  background-color: var(--primary) !important;
  color: var(--bgColor) !important;
}
.rules {
  font-size: 12px;
  text-align: center;
}
.rules a {
  color: var(--primary);
}

/************************* search modal */
.search-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
  height: 230px;
  background-color: var(--bgColor);
  border-radius: 5px;
  z-index: 10;
}
.search-title {
  display: flex;
  align-items: center;

  border-radius: 5px 5px 0 0;
  background-color: #ededed;
}
.search-title p {
  color: var(--darkGrey);
  font-weight: 400;
  margin-right: 45%;
}
.search-title span {
  color: var(--grey);
  font-size: 3rem;
  margin-right: 35%;
}
.search-content {
  margin-top: 1.5rem;
}
.search-content p {
  font-weight: 400;
  color: var(--darkGrey);
  font-size: 12px;
}
.search-content input {
  width: 60%;
  padding: 0.6rem 0;
  margin-top: 1rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--lightGrey);
}
.search-content input::placeholder {
  padding-right: 1rem;
}
.search-content input:focus {
  outline: none;
}
.search-content img {
  position: relative;
  left: 8%;
  top: 6px;
}
/************************* Slide bar */
/* 
.slider {
  width: 100%;
  height: 336px;

  background-image: url(./assets/Slider.png);
  background-repeat: no-repeat;
  background-size: cover;
} */
.slider img{
  height: 295px;
}

.slides{
  display: none;
}

img{
  vertical-align: middle;
}

.slider{
  max-width: 80%;
  height: 336px;
  position: relative;
  margin: auto;
}

.prev,.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}


.top-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  position: relative;
  top: calc(336px - 73%);
}

.top-sec i {
  color: var(--bgColor);
}

.slidebar-text {
  color: var(--greenTint);
  font-weight: 700;
  font-size: 40px;
}

.order {
  color: var(--bgColor);
  background-color: var(--primary);
  font-family: "Estedad";
  border: none;
  border-radius: 10px;
  padding: 8px 34px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 6.8rem;
}

.bullets {
  position: relative;
  top: 80px;
  right: 43.5%;
  background-color: var(--bgColor);
  width: 155px;
  height: 35px;
  border-radius: 7rem 7rem 0 0;
  z-index: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--lightGrey);
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  right: 17%;
  top: 10%;
}
.selected {
  background-color: var(--primary);
  width: 15px;
  height: 15px;
  top: 5px;
}
/***************** Menu */

.title {
  color: var(--darkGrey);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.menu-container {
  display: flex;
  margin: 0 4rem;
  justify-content: center;
}
.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.menu-section img {
  width: 240px;
  height: 240px;
}
.drink-img {
  position: relative;
  bottom: 3rem;
}

.img-container {
  background-color: var(--primary);
  height: 160px;
  width: 100%;
  position: relative;
  top: -30%;
  border-radius: 8px;
  border: 1px solid var(--primary);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.menu-btns {
  position: relative;
  top: -34%;
  width: 155px;
  height: 48px;
  padding: 8px 16px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.19);
  color: var(--darkGrey);
  font-family: "Estedad";
  font-weight: 400;
  text-align: center;
  z-index: 1;
  cursor: pointer;
}
.menu-btns a {
  color: var(--darkGrey);
}

/************************* About */

.about {
  background-image: url(./assets/about.png);
  width: 100%;
  height: 390px;
  margin-top: -7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about .right-sec {
  margin: 0 4rem;
}

.about .left-sec {
  margin: 4rem 6rem;
}

.about .title {
  color: var(--bgColor);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.about .desc {
  color: var(--bgColor);
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
}

/********************* Branches */
.branch-title {
  color: var(--darkGrey);
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.branches {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.3rem;
  margin: 0 4rem 3rem 6rem;
}

.branches .branch {
  text-align: center;
  border: 1px solid var(--lightGrey);
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  padding-bottom: 1rem;
}

.branches .branch:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary);
  border-radius: 8px;
}

.branch-img {
  width: 260px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.branches .name {
  color: var(--darkGrey);
  font-size: 20px;
  font-weight: 600;
}

.branches .address {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
}

/*************** Footer */

footer {
  width: 100%;
  height: 319px;
  background-image: url(./assets/Footer.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: end;
}

footer .title {
  color: var(--bgColor);
  font-size: 20px;
  font-weight: 700;
  text-align: right;
  margin: 2rem 0 1.2rem 0;
}

footer a {
  color: var(--lightGrey);
  font-size: 14px;
  font-weight: 500;
  margin: 0 1rem 1rem 0;
}

.contact,
.footer-branch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .contact {
  margin-top: -2.3rem;
}

/* @media only screen and (min-width: 1160px) {
  body {
    width: 100vw;
  }
  .slider{
    width: 100vw;
  }
} */
